body{margin: 0;}
p{
    padding-left: 3px;
    padding-right: 3px;
}
th, td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
    text-align: left;
    border: 1px solid black;
}
tr{border-bottom: 1px solid #ddd;}
tr:hover {background-color: #D6EEEE;}
table {
    
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
    padding-left: 3px;
    padding-right: 3px;
  }
  IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }
P.legenda {
        margin-left: auto;
        margin-right: auto;
        width: 20em;
    }
.titulo{
    margin-left: auto;
    margin-right: auto;
    width: 8em;
}
.titulos{
    margin-left: auto;
    margin-right: auto;
    width: 10em;
}
p{
    text-indent: 50px;
}

a{
    margin-right: 5px;
    margin-left: 5px;
    color: #0400e0;
    font-size: 14px;
}

header{background-color: #3b496f;}


.cor{
    margin-left: auto;
    margin-right: auto;
    width: 20em;
}